/* --- FONTS --- */

@font-face {
    font-family: 'Zelda';
    src: url('/fonts/zelda_regular-webfont.woff2') format('woff2'),
        url('/fonts/zelda_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* --- GENERAL --- */

:root {
    --width: 1200;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    height: 100% !important;
    background-color: #f7f7f7;
}

p {
    font-size: 18px;
}

b {
    font-weight: 500 !important;
}

.fa {
    padding: 5px;
}

.list-inline {
    margin: auto;
}

.list-inline li {
    padding: 0;
}

/* --- NAVBAR --- */

#mainNav {
    height: 75px;
    padding: 0;
}

#navInner {
    height: 100% !important;
}

.navbar-brand {
    height: 100%;
}

.navbar-brand img {
    max-height: 100%;
}

.navbar-custom {
    width: var(--width);
    margin: auto;
}

.navbar-right {
    height: 100%;
    margin: auto;
    font-weight: 100;
    font-family: 'Lato';
}

.navbar-right li a {
    margin: auto;
    padding: 25px;
    padding-top: 25 !important;
    font-size: 20px;
    height: 100%;
    line-height: 100%;
}

/* --- LOGO HEADER --- */

header {
    width: var(--width);
    margin: auto;
    margin-top: 75px;
}

#imgcontainer {
    height: 600px;
    background-color: #193c6d;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003e68', endColorstr='#00814c');
    background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #029797));
    background-image: -webkit-linear-gradient(135deg, #003e68, #00814c);
    background-image: -moz-linear-gradient(45deg, #003e68, #00814c);
    background-image: -ms-linear-gradient(45deg, #003e68 0, #00814c 100%);
    background-image: -o-linear-gradient(45deg, #003e68, #00814c);
    background-image: linear-gradient(120deg, #003e68, #00814c);
    text-align: center;
    margin: 0px;
}

#logo-center {
    position: absolute;
    width: var(--width);
    height: 600px;
}

#logo-center img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* --- SECTIONS --- */

section {
    width: var(--width);
    margin: auto;
    padding-top: 100px !important;
    padding-bottom: 0;
}

#about,
#signup {
    max-width: 800px;
}

.star-primary {
    border-color: black !important;
}

section div h1 {
    font-size: 36px;
    width: fit-content;
    margin: auto;
}

/* --- BOARD --- */

#board-row div {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

#board-row div {
    display: inline-block;
}

#board-row .col-6 {
    width: 600px;
}

#board-row .col-4 {
    display: inline-block;
    width: 400px;
}


#board-row .pres img {
    width: 250px;
}

#board-row img {
    width: 225px;
}

/* --- SIGNUP --- */

#mc_embed_signup {
    font: 16px Lato, sans-serif;
    width: 300px;
    margin: auto;
}


#mce-EMAIL {
    margin: auto;
    width: 100% !important;
    text-align: center;
}

#mc-embedded-subscribe {
    margin: auto !important;
    height: 40px !important;
    width: fit-content !important;
}

#email {
    font-size: 20px
}

/* --- SPONSORS --- */

#sponsors div img {
    width: 300px;
    margin: 50px;
}

#ics {
    width: 500px !important;
}

/* --- RESPONSIVENESS --- */

@media(max-width: 1200px) {
    :root {
        --width: 800;
    }

    .navbar-right li a {
        padding: 10;
    }
    
    #board-row .col-6, #board-row .col-4 {
        width: 400;
    }
}

@media(max-width: 1000px) {
    .navbar-right li a {
        margin-top: -10;
    }

    :root {
        --width: 730;
    }
    
    #board-row .col-6, #board-row .col-4 {
        width: 365;
    }
    
    .mapouter {
        margin: auto !important;
    }
}

@media(max-width: 767px) {
    :root {
        --width: 500;
    }
    
    .navbar-toggle {
        margin-top: 15px;
    }
    
    .navbar-collapse {
        height: fit-content;
        max-height: fit-content !important;
    }
    
    .navbar-right {
        height: fit-content;
        background-color: #f7f7f7;
        border: 1px #7f7f7f solid;
    }
    
    .navbar-right li a {
        padding: 20px 0 30px 30px;
        margin-top: 0;
        border-bottom: 1px #7f7f7f solid;
    }
    
    #gmap_canvas {
        width: var(--width);
    }
    
    #sponsors div img {
        width: 200px;
        margin: 50px;
    }
    
    #ics {
        width: 300px !important;
    }
    
    #board-row img, #board-row .pres img {
        width: 150px
    }
    
    #board-row .col-6, #board-row .col-4 {
        width: 250px;
        max-height: 250px;
    }
    
    #board-row div h4 {
        font-size: 16px;
    }
}

@media(max-width: 500px) {
    :root {
        --width: 90%;
    }
    
    #logo-center img {
        width: 90%;
    }
    
    #board-row {
        width: 100%;
    }
    
    section h2 {
        line-height: 3rem;
    }
    
    #ics {
        width: var(--width) !important;
        margin: 0 !important;
    }
    
    #board-row {
        width: 90%;
        margin: auto;
    }
    
    #board-row .col-6, #board-row .col-4 {
        width: 100%;
        margin: auto;
        margin-bottom: 30px
    }
    
    #board-row img, #board-row .pres img {
        width: 50%;
    }
    
    .navbar-brand {
        width: 50%;
        height: fit-content;
        position: absolute;
  top: 50%;
  transform: translate(0,-50%);
    }
    
    .navbar-brand img {
        width: 100%;
        
    }
}
