@font-face {
    font-family: 'Zelda';
    src: url('/fonts/zelda_regular-webfont.woff2') format('woff2'),
        url('/fonts/zelda_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --width: 1200px;
}

body {
    height: 100%;
    background-color: #f7f7f7;
}

p {
    font-size: 18px;
}

section {
    width: var(--width);
    margin: auto;
    padding-top: 100px !important;
}

#mainNav {
    height: 75px;
    padding: 0;
}

#navInner {
    height: 100% !important;
}

.navbar-brand {
    height: 100%;
}

.navbar-brand img {
    max-height: 100%;
}

.navbar-custom {
    width: var(--width);
    margin: auto;
}

.navbar-right {
    height: 100%;
    margin: auto;
    font-weight: 100;
    font-family: 'Lato';
}

.navbar-right li a {
    margin: auto;
    padding: 25px;
    font-size: 20px;
    height: 100%;
    line-height: 100%;
}

header {
    width: var(--width);
    margin: auto;
    margin-top: 75px;
}

#imgcontainer {
    height: 600px;
    background-color: #193c6d;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003e68', endColorstr='#00814c');
    background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #029797));
    background-image: -webkit-linear-gradient(135deg, #003e68, #00814c);
    background-image: -moz-linear-gradient(45deg, #003e68, #00814c);
    background-image: -ms-linear-gradient(45deg, #003e68 0, #00814c 100%);
    background-image: -o-linear-gradient(45deg, #003e68, #00814c);
    background-image: linear-gradient(120deg, #003e68, #00814c);
    text-align: center;
    margin: 0px;
}

#logo-center {
    position: absolute;
    width: var(--width);
    height: 600px;
}

#logo-center img {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
}

#about,
#signup {
    max-width: 800px;
}

.star-primary {
    border-color: black !important;
}

section div h1 {
    font-size: 36px;
    width: fit-content;
    margin: auto;
}

#mc_embed_signup {
    font: 16px Lato, sans-serif;
    width: 300px;
    margin: auto;
}


#mce-EMAIL {
    margin: auto;
    width: 100% !important;
    text-align: center;
}

#mc-embedded-subscribe {
    margin: auto !important;
    height: 40px !important;
    width: fit-content !important;
}

#email {
    font-size: 20px
}

.fa {
    padding: 5px;
}

.list-inline {
    margin: auto;
}

.list-inline li {
    padding: 0;
}
